*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff; /*text color*/
    margin: 100px auto 0; /*100px top  auto left-ryt and 0 for bottom*/
    border-radius: 20px;
    padding: 40px 35px; /*Space inside the card*/
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /*Adding some more space*/
    margin-right: 16px;
    font-size: 18px;
    
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 30px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 50px;
    font-weight: 500;

}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
    
}

/* .col img{
    width: 140px;
}

P{
    font-size: 20PX;
    justify-self: auto;
} */

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}

.col img{
    width: 40px;
    margin-right: 10px;

}

.humidity,.wind{
    font-size: 28px;
    margin: -6px;
}

.weather{
    /* Here we made none it willl not didaply anything and so for this when we enetr alo it willl not desplay anything so for this we need to wrute some code that is we commnet the console and written this line  i.e         document.querySelector(".weather").style.display ="block";
 */
    display: none; 
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none; /* Here y none bcoz its showing message by deafult it shd not show like that it shd show after enetring wrong City name*/
    color: red;
}